.clockShadow {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.clockhand {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}



.clockRotateSecond {
  animation: rotate 60s linear infinite;
  transform-origin: left;
}

.clockRotateMinute {
  animation: rotate 3600s linear infinite;
  transform-origin: left;
}

.clockRotateHour {
  animation: rotate 43200s linear infinite;
  transform-origin: left;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
